<app-navigation></app-navigation>

<!--==========================
    Intro Section
  ============================-->
<section id="intro">
  <div class="intro-content">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <h4>Your Restaurant General Manager run by
          <span>Artificial Intelligence</span>
        </h4>
      </div>
      <br/>
      <br/>
      <div class="row justify-content-center align-items-center">
        <b>Real-Time Data Driven Analysis That Helps You Make The Decision To Thrive In A Fast Paced Environment.</b>
      </div>
    </div>

    <div>
      <a routerLink="/auth" class="btn-get-started scrollto">Join the WaitList</a>
    </div>
  </div>

  <div id="intro-carousel" class="owl-carousel">
    <div class="item" style="background-image: url('assets/img/intro-carousel/1.jpg');"></div>
    <div class="item" style="background-image: url('assets/img/intro-carousel/2.jpg');"></div>
    <div class="item" style="background-image: url('assets/img/intro-carousel/3.jpg');"></div>
    <div class="item" style="background-image: url('assets/img/intro-carousel/4.jpg');"></div>
    <div class="item" style="background-image: url('assets/img/intro-carousel/5.jpg');"></div>
  </div>

</section>
<!-- #intro -->




<main id="main">

  <!--==========================
              About Section
            ============================-->
  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 about-img">
          <img src="assets/img/about-img.jpg" alt="">
        </div>

        <div class="col-lg-6 content">
          <h2>Driver Based Forcasting</h2>
          <br/> <br/> <br/>
          <h3>Better understanding your demand is key to a customer-centric strategy, improving profitability and growing market
            share.</h3>

          <ul>
            <li>
              <i class="ion-android-checkmark-circle"></i>Real Solutions that Deliver Real Results.</li>
            <li>
              <i class="ion-android-checkmark-circle"></i>Ounje intelligent algorithms establish and evaluate a range of competing models, estimating their performance
              over time and determining the champion base demand forecast model.</li>
            <li>
              <i class="ion-android-checkmark-circle"></i>Ounje’s Driver-Based Forecasting solution was designed specifically for the retail and consumer goods industries,.</li>
          </ul>

        </div>
      </div>

    </div>
  </section>
  <!-- #about -->

  <!--==========================
              Services Section
            ============================-->
  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Services</h2>
        <p>Your customers have more connections, information and options than ever before. How do you differentiate yourself
          in such a complex, competitive world? The answer lies in getting more from your data and being responsive by leveraging
          technology and the smartest advanced analytics to uncover valuable insights and, ultimately, understand how to
          delight customers.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <div class="icon">
              <i class="fa fa-bar-chart"></i>
            </div>
            <h4 class="title">
              <a href="">Manage Demand Forcast</a>
            </h4>
            <br/>
            <p class="description">Ounje systems works to connect your business & drive smart decision-making.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon">
              <i class="fa fa-bar-chart"></i>
            </div>
            <h4 class="title">
              <a href="">Measure Customer Engagement</a>
            </h4>
            <br/>
            <p class="description">Build Better Omnichannel Experiences, Anticipate Customer Needs, Increase Sales Leads.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInLeft" data-wow-delay="0.2s">
            <div class="icon">
              <i class="fa fa-bar-chart"></i>
            </div>
            <h4 class="title">
              <a href="">Gain Actionable Insight</a>
            </h4>
            <p class="description">Ounje System uses AI-enabled technology which will give your company customer insights to make smarter decisions
              about your digital marketing strategies.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight" data-wow-delay="0.2s">
            <div class="icon">
              <i class="fa fa-map"></i>
            </div>
            <h4 class="title">
              <a href="">Ounje Digital Wallet</a>
            </h4>
            <p class="description">Let consumers make transactions via web or mobile with Braintree. Reach millions of customers across the globe
              already using digital wallets. In-Store Payments. Fraud Protection. Data Security Available.</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- #services -->
  <!--==========================
              Call To Action Section
            ============================-->
  <section id="call-to-action" class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">WaitList</h3>
          <p class="cta-text"> Ounje is a new generation of restaurant management software. It is a complete solution, beginningwith taking orders
            from customers, and ending with billing and taxreports. The user interface is carefully optimized for high speed
            input ofa customer order and the prevention of common mistakes. Payments can be accepted by cash, credit cards,
            or Ounje Wallet.</p>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" routerLink="/auth">Join the WaitList</a>
        </div>
      </div>

    </div>
  </section>
  <!-- #call-to-action -->

  <!--==========================
              Contact Section
            ============================-->
  <section id="contact" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Talk to our team</h2>

      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
            <address>3364 Chamble Tucker Rd, Atlanta 30345, USA</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p>
              <a href="tel:+16789827288">+1 678 982 7288</a>
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p>
              <a href="mailto:customer@ounje.com">customer@ounje.com</a>
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="container mb-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452"
        width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="container">
      <div class="form">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form action="" method="post" role="form" class="contactForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars"
              />
              <div class="validation"></div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email"
              />
              <div class="validation"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"
            />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validation"></div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>

    </div>
  </section>
  <!-- #contact -->

</main>